@page "{username}"
@model Stori.Pages.User.ViewModel
@using Stori.Views.Shared
@{
    ViewData["Title"] = "View";
    ViewData["CurrentUser"] = RouteData.Values["username"];

}

<link rel="stylesheet" href="~/css/profile.css" />
<link rel="stylesheet" href="~/css/carousel.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<div id="banner" class="image"><img src="@Model.User.BannerImageUrl" /></div>
<div id="user_info" class="card">
    <div class="icon image"><img src="@Model.User.ProfilePictureUrl"></div>
    <div class="name">@RouteData.Values["username"]</div>
    <div class="occupation">Adventurer / Photographer</div>
    <div class="description">Loves travelling and good food</div>
</div>

<div id="user_content">
    <div id="user_seemore" class="card">All @(Model.Posts.Count) posts</div>
    @foreach (Stori.ObjectModel.Post post in Model.Posts)
    {
        @Html.Partial("Carousel", post)
    }
</div>